*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#28004d),url(images/04.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#banner1{
    background: linear-gradient(rgba(0,0,0,0.5),#28004d),url(images/04.jpg);
    background-size: cover;
    background-position: center;
    height: 77vh;
}
.banner-text{
    text-align: center;
    color: white;
    padding-top: 100px;
}
.banner-text h1{
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin: 60px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: .5px solid white;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50px;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #28004d;
}
.h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
}
.kembali {
	cursor:pointer;
	text-decoration: none;
    color: #28004d;
    padding-left: 10px;
}
.bdn{
    display: flex;
    align-items: center;
    width: 30%;
    margin: 30px auto 30px auto;
    background: rgba(255,255,255,0.3);
    border-radius: 50px;
}
.bdn input{
    background: transparent;
    margin: 0 0 0 10px;
    padding: 20px;
    width: 100%;
    border: 0;
    outline: none;
    color: white;
}
::placeholder{
    color: white;
}
.bdn2 input{
    color: white;
    background: transparent;
    border: .5px solid white;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
    width: 30%;
    padding: 15px;
    margin: 0 auto 0px 474px;
    border-radius: 50px;
    outline: none;
}
.bdn2 input:hover{
    color: #28004d;
    background-color: white;
}
.gambar {
	background-color: Transparent;
	border: none;
	cursor:pointer;
	overflow: hidden;
	background-repeat:no-repeat;    
}
footer {
    padding: 20px;
    color: white;
    background-color: #28004d;
    text-align: center;
}
.footer {
    padding: 20px;
    color: white;
    background-color: #350066;
    text-align: center;
}
.badan p{
    margin-left: 490px;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
}
#banner2{
    background: linear-gradient(rgba(0,0,0,0.5),#28004d),url(images/04.jpg);
    background-size: cover;
    background-position: center;
    height: 165vh;
}
.bdn1{
    width: 30%;
    margin: 30px auto 30px auto;
    border-radius: 50px;
}
.bdn1 input, label{
    margin: 0 0 0 20px;
}
.bdn select {
    background: transparent;
    margin: 0 30px 0 20px;
    padding: 20px;
    width: 100%;
    border: 0;
    outline: none;
    color: white;
}
option{
    color: #28004d;
}
.navbar{
    float: right;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #dab3ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li a:hover{
    color: #dab3ff;
}
.navbar ul li a.active{
    color: #dab3ff;
}
.utama{
    background: #28004d;
}
.kembali a{
    margin-left: 350px;
    cursor:pointer;
	text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
    margin-top: 100px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #dab3ff;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#dab3ff, #28004d);
    position: absolute;
    top: -20;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    position: relative;
    color: white;
}
.features-img img{
    width: 70%;
    border-radius: 30px;
}
.overlay{
    width: 377.706px;
    height: 377.706px;
    margin-left: 80.5px;
    position: absolute;
    top: 0;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #28004d);
    opacity: 0;
    transition: 1s;
}
.overlay-desc{
    width: 70%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}
.overlay-desc p{
    font-size: 14px;
}
.features-img:hover .overlay{
    opacity: 1;
}
.features-img:hover .overlay-desc{
    bottom: 40%;
    opacity: 1;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #dab3ff;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 10px;
    color: #dab3ff;
    border: 1px solid #dab3ff;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
table {
	border-radius: 10px;
	margin: auto;
    border-spacing: 15px;
    text-align: center;
}
td {
	box-shadow: 4px 8px 12px 4px rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 3px solid #dab3ff;
}
td a:link{
    cursor:pointer;
	text-decoration: none;
}
.back a{
    margin-left: 50px;
    cursor:pointer;
	text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.badan {
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;
	background-color: #e6ccff;
}
.gmbr {
	box-shadow: 4px 8px 12px 4px rgba(0,0,0,0.2);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
}
table.cart{
    margin: auto;
    width: 80%;
}
table.cart td{
    border: none;
    box-shadow: none;
	border-radius: none;
}